* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;

  --title-color: hsl(240, 9%, 89%);
  --text-color: hsl(240, 7%, 78%);
}

body {
  height: 100%;
  display: grid;
  color: var(--title-color);
}

main {
  margin: 0 auto;
  background: url(./assets/Mobile.png);
  background-repeat: no-repeat;
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 1.5rem;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
